@import 'normalize.css';

$primary: #002445;
$secondary: #f6f6f6;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$btn-font-size-lg: 16px;
$btn-line-height-lg: 37px;
$btn-padding-x-lg: 25px;

@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/mixins/_screen-reader.scss';
@import 'bootstrap/scss/utilities/_visibility.scss';
@import 'bootstrap/scss/utilities/_float.scss';
@import 'bootstrap/scss/_buttons.scss';
@import 'bootstrap/scss/_dropdown.scss';
@import 'bootstrap/scss/_spinners.scss';
@import 'bootstrap/scss/_forms.scss';
@import 'bootstrap/scss/_close.scss';
@import 'bootstrap/scss/_tooltip.scss';
@import '~bootstrap/scss/card';
@import '~antd/dist/antd';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

.mapboxgl-popup-content {
    padding: 0 !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}

body {
    display: block;
    font-family: Roboto, Arial, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

div#__next {
    height: 100%;
}

#appwrapper {
    overflow-anchor: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fullscreen {
    min-height: 100%;
    height: 100%;
}

.sr-only {
    @include sr-only;
}

.btn-secondary {
    color: #0d3b5f;
    outline: none;
}

.dropdown-menu {
    background-color: #ddd;
    outline: 2px solid #ddd;
    border: 1px solid #ddd;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: rgb(192, 189, 189);
}

.dropdown-toggle {
    box-shadow: none !important;
}

.centered {
    text-align: center;
}

.hidden {
    display: none;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5em;
}

.pageTitle {
    font-size: 32px;
    color: #002445;
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.img-container {
    justify-content: center;
    display: flex;
    margin-top: 2em;

    img {
        width: 50px;
        height: 50px;
        display: flex;
    }
}

.ant-card-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.success-btn {
    background-color: #f6ffec !important;
    border-color: #d1f3b7 !important;
    color: #70cf42 !important;
}

.ant-drawer-body {
    padding: 0;
}

.anticon {
    vertical-align: 0;
}

.ant-modal-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.ant-card-actions > li > span > .anticon {
    font-size: 24px;
}

.ant-card:hover {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.ant-card:hover > .ant-card-actions > li > span > .anticon {
    color: #1890ff;
}

.ant-card:hover .projectThumbnail {
    -ms-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

#nprogress .bar {
    background: #718da9;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

.semibold {
    font-weight: 500;
}

.bold {
    font-weight: 800;
}

.light {
    color: #f5f5f5 !important;
}

.dark {
    color: #262626 !important;
}

h1 {
    font-size: 38px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
}

h2 {
    font-size: 38px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
}

h4 {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
}

h5 {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
}

h6 {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
}

.general-text {
    font-size: 14px;
    line-height: 1.57;
}

.general-text-b {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
}

.card-text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    color: #8c8c8c;
}

.link-text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #1890ff;
}

.error-text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #f5222d;
}

.small-text {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    color: #262626;
}

.small-text-b {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    color: #262626;
}

.title {
    cursor: pointer;
    color: #002545;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*
Responsive page controls
*/
$sidebarextra: 286px;
$leftspace: 44px;
$pagemarginleft: 29px;
$cardwidth: 343px;
$page-sm: $pagemarginleft + $cardwidth;
$page-md: $pagemarginleft + ($cardwidth * 2);
$page-lg: $pagemarginleft + ($cardwidth * 3);
$page-xlg: $pagemarginleft + ($cardwidth * 4);
$page-xxlg: $pagemarginleft + ($cardwidth * 5);

$bp2: $leftspace + $page-md;
$bp3: $leftspace + $page-lg;
$bp4: $leftspace + $page-xlg;
$bp5: $leftspace + $page-xxlg;

$bp2ex: $sidebarextra + $leftspace + $page-md;
$bp3ex: $sidebarextra + $leftspace + $page-lg;
$bp4ex: $sidebarextra + $leftspace + $page-xlg;
$bp5ex: $sidebarextra + $leftspace + $page-xxlg;

@mixin smallcontrols {
    width: $page-sm;

    .controls {
        flex-wrap: wrap;
        padding-left: 30px;
        padding-right: 0;
        justify-content: space-between;
        max-width: 345px;

        .controlsTwo {
            order: 1;
            margin-right: 0;
        }
    }
}

.headArea {
    margin-left: 29px;
}

.pagearea {
    background-color: #f0f0f0;

    @media screen and (max-width: $bp2 - 1) {
        @include smallcontrols;

        width: 577px !important;
    }
}

.content > div {
    width: 100%;
}

.main-container > .content {
    transition:
        padding-left 300ms
        cubic-bezier(0.2, 0, 0, 1) 0s;
}

.controls .controlsTwo {
    min-width: 250px !important;
}

.filterArea {
    min-width: 800px;
}

.assetsContainer {
    min-width: 577px;
}
