$sidebar-width: 315px;
$sidebar-edge: 29px;

.icnCollapseHolder {
    position: fixed;
    height: 100%;
    width: 29px;
    left: 286px;
    cursor: pointer;
}

.collapsed {
    margin-left: -$sidebar-width + $sidebar-edge;

    .icnCollapseHolder {
        left: 3px;
        transition: all 0.3s;
    }
}

.sidebar {
    min-width: $sidebar-width;
    max-width: $sidebar-width;
    background-color: #002445;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.3s;
    overflow: hidden;
}

.sideBarMainContent {
    width: 286px;
    position: absolute;
    top: 126px;
    bottom: 45px;
    left: 0;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

@keyframes highlight-down {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.flashDown {
    animation: highlight-down 0.3s;
    opacity: 0;
}
