@charset "UTF-8";

@font-face {
    font-family: "untitled-font-1";
    src: url("fonts/untitled-font-1.eot");
    src:
        url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
        url("fonts/untitled-font-1.woff") format("woff"),
        url("fonts/untitled-font-1.ttf") format("truetype"),
        url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]::before {
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "untitled-font-1" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "untitled-font-1" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
}

.icon-ns-cecard-outline::before {
    content: "\61";
}

.icon-ns-cejourney-outline::before {
    content: "\62";
}

.icon-ns-user-outline::before {
    content: "\63";
}

.icon-ns-cevisual-outline::before {
    content: "\64";
}

.icon-ns-cewaypoint-outline::before {
    content: "\65";
}

.icon-ns-folder-outline::before {
    content: "\66";
}

.icon-ns-collection-outline::before {
    content: "\67";
}

.icon-ns-conceptexplorer-outline::before {
    content: "\68";
}

.icon-ns-geographicexplorer-outline::before {
    content: "\69";
}

.icon-ns-helpbox-outline::before {
    content: "\6a";
}

.icon-ns-home-outline::before {
    content: "\6b";
}

.icon-ns-organization-outline::before {
    content: "\6c";
}

.icon-ns-pecontentdefault-outline::before {
    content: "\6d";
}

.icon-ns-pecontentdigitalwall-outline::before {
    content: "\6e";
}

.icon-ns-pushpin-outline::before {
    content: "\6f";
}

.icon-ns-project-outline::before {
    content: "\70";
}

.icon-ns-portfolioexplorer-outline::before {
    content: "\71";
}

.icon-ns-pecontentweblink-outline::before {
    content: "\72";
}

.icon-ns-pecontentwebbundle-outline::before {
    content: "\73";
}

.icon-ns-pecontentvidlink-outline::before {
    content: "\74";
}

.icon-ns-cecard-solid::before {
    content: "\75";
}

.icon-ns-pecontentvidlink-solid::before {
    content: "\76";
}

.icon-ns-pecontentwebbundle-solid::before {
    content: "\77";
}

.icon-ns-cejourney-solid::before {
    content: "\78";
}

.icon-ns-cevisual-solid::before {
    content: "\79";
}

.icon-ns-pecontentweblink-solid::before {
    content: "\7a";
}

.icon-ns-portfolioexplorer-solid::before {
    content: "\41";
}

.icon-ns-cewaypoint-solid::before {
    content: "\42";
}

.icon-ns-collection-solid::before {
    content: "\43";
}

.icon-ns-project-solid::before {
    content: "\44";
}

.icon-ns-pushpin-solid::before {
    content: "\45";
}

.icon-ns-folder-solid::before {
    content: "\46";
}

.icon-ns-conceptexplorer-solid::before {
    content: "\47";
}

.icon-ns-user-solid::before {
    content: "\48";
}

.icon-ns-geographicexplorer-solid::before {
    content: "\49";
}

.icon-ns-helpbox-solid::before {
    content: "\4a";
}

.icon-ns-home-solid::before {
    content: "\4b";
}

.icon-ns-organization-solid::before {
    content: "\4c";
}

.icon-ns-pecontentdefault-solid::before {
    content: "\4d";
}

.icon-ns-pecontentdigitalwall-solid::before {
    content: "\4e";
}
